[Unit]
Description=IOC Slackbot
After=network.target

[Service]
Type=simple
User=slackbot
WorkingDirectory=/opt/slackbot_iocs/
ExecStart=/bin/bash /opt/slackbot_iocs/run-server.sh
Restart=always

[Install]
WantedBy=multi-user.target